.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background: #ffffff;
    padding: 1.6rem;
    border-radius: 1.6rem;
    color:#3e4a61;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1rem 3rem #c5e2f9;
}

.chartTitle{
    margin-bottom: 20px;
}

#light .chart{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background: #ffffff;
    color:#3e4a61;
    box-shadow: 0 1rem 3rem #c5e2f9;
}

#dark .chart{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(215, 247, 10, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background: #70716f;
    color:yellow;
    box-shadow: 0 1rem 3rem yellow;
}

